nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  height: 75px;
}
#botonenviar {
  background-color: #f1f1f1;
  border: none;
  display: inline-block;
  cursor: pointer;
  width: 37px;
  height: 37px;

  border-radius: 50%;
  margin-left: 5px;
}
#botonenviar:hover {
  background-color: #f1f1f193;
}
.sendicon{
  width: 70%;
  height: 70%;
  margin-top: 5px;
  margin-right: 3px;
}
.navbar-left ul,
.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-left ul li,
.navbar-right ul li {
  display: inline;
  margin-right: 10px;
}

.navbar-middle {
  display: flex;
  align-items: center;
}



.navbar-middle input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.navbar-right {
  text-align: right;
}
.navbar-left ul li a{
  color: #e26d5c  ;
  font-weight: bold;
  font-size: 25px;
}

.cerrar {
  color: #e56653;
}

/* Estilos adicionales */
a {
  text-decoration: none;
  color: #e56653;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* Estilos adicionales */
  background-color: #723d46 ;
  padding: 10px;
}
.inputdiv{
  height: 40px;
  width: 500px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;

}
.form-wrapper {
  flex: 1;
}
.inputtext{
  height: 100%;
  width: 100%;
  font-size: 17px;
  background-color: #f1f1f100;
  border-radius: 40px;
  margin-top: 5px;
  margin-left: 4px;
}
#inputFile{
  display: none;
}
#inputFilelabel{
  //padding: 8px;
  border-radius: 30%;
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}
#inputFilelabel:hover{
  background-color: #723d4642;
}
.inputicon{
  width: 100%;
  height: 100%;
  
}
.imagendiv{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 10px;
  margin-left: 15px;
  padding: 0;
  
}
img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.inputtext:focus {
  outline: none;
}


@media (max-width: 768px) {
  .navbar-left{
    display: none;
  }
  .inputdiv {
    width: calc(100vw - 105px);
  }
  .inputtext{
    font-size: 14px;
  }
  .imagendiv{
    margin-right: 5px;
    margin-left: 0px;
  }
  .navbar-right {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #723d46;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav{
    height: 55px;
  }
}