.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.comment {
  margin-bottom: 10px;
}

.comment span {
  margin-right: 10px;
}

.postimage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #e26d5c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  height: 30px;
}

button[type="submit"]:hover {
  background-color: #723d46;
}



.btn-atras:hover {
  background-color: #666666;
}

.nombre {
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}
#divcomment{
  height: 100px;
  overflow-y: auto; 
  margin-top: 10px;
}
.description {
  color: #e26d5c;
}

.button-container {
  text-align: right; /* Alinea el botón a la derecha */
}
#idcomentar{
  height: 30px;
}